In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('Batsman.csv')
df.head()

,Unnamed: 0,Average,Batting_Hand,Bowling_Skill,Country,DOB,Fifties,Fours,Highest,Hundreds,Innings,Is_Umpire,Player_Id,Player_Name,Runs,Sixes,Strike_Rate,Unnamed: 7
0,0,35.50,Left_Hand,Right-arm medium,India,8-Jul-72,7.0,137.0,91.0,0.0,56.0,0,1,SC Ganguly,1349.0,42.0,101.73,NaN
1,1,32.04,Right_Hand,Right-arm medium,New Zealand,27-Sep-81,11.0,248.0,158.0,2.0,92.0,0,2,BB McCullum,2435.0,106.0,124.62,NaN
2,2,22.75,Right_Hand,Right-arm medium,Australia,19-Dec-74,0.0,5.0,28.0,0.0,9.0,0,3,RT Ponting,91.0,2.0,70.54,NaN
3,3,41.31,Right_Hand,Right-arm offbreak,Australia,15-Jul-77,5.0,90.0,71.0,0.0,61.0,0,4,DJ Hussey,1322.0,60.0,120.07,NaN
4,4,9.14,Right_Hand,Right-arm offbreak,Pakistan,17-Oct-80,0.0,7.0,16.0,0.0,8.0,0,5,Mohammad Hafeez,64.0,2.0,76.19,NaN

In [33]:
df= df.drop(columns = ['Unnamed: 0', 'Bowling_Skill', 'Is_Umpire', 'Player_Name', 'Unnamed: 7', 'Country', 'DOB'])
col = ['Player_Id', 'Batting_Hand', 'Innings', 'Runs', 'Highest', 'Hundreds', 'Fifties', 'Fours', 'Sixes', 'Average', 'Strike_Rate']
df = df.reindex(columns = col)
df.head()

,Player_Id,Batting_Hand,Innings,Runs,Highest,Hundreds,Fifties,Fours,Sixes,Average,Strike_Rate
0,1,Left_Hand,56.0,1349.0,91.0,0.0,7.0,137.0,42.0,35.50,101.73
1,2,Right_Hand,92.0,2435.0,158.0,2.0,11.0,248.0,106.0,32.04,124.62
2,3,Right_Hand,9.0,91.0,28.0,0.0,0.0,5.0,2.0,22.75,70.54
3,4,Right_Hand,61.0,1322.0,71.0,0.0,5.0,90.0,60.0,41.31,120.07
4,5,Right_Hand,8.0,64.0,16.0,0.0,0.0,7.0,2.0,9.14,76.19

In [34]:
df = df.set_index('Player_Id')
df.head()

,Batting_Hand,Innings,Runs,Highest,Hundreds,Fifties,Fours,Sixes,Average,Strike_Rate
Player_Id,,,,,,,,,,
1,Left_Hand,56.0,1349.0,91.0,0.0,7.0,137.0,42.0,35.50,101.73
2,Right_Hand,92.0,2435.0,158.0,2.0,11.0,248.0,106.0,32.04,124.62
3,Right_Hand,9.0,91.0,28.0,0.0,0.0,5.0,2.0,22.75,70.54
4,Right_Hand,61.0,1322.0,71.0,0.0,5.0,90.0,60.0,41.31,120.07
5,Right_Hand,8.0,64.0,16.0,0.0,0.0,7.0,2.0,9.14,76.19

In [35]:
df.to_csv('BatsmanMod.csv')